<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aslifitness.fitracker">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <!--android:networkSecurityConfig="@xml/network_security_config" />-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".FitApp"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fitracker"
        tools:targetApi="31">

        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />

        <activity
            android:exported="true"
            android:name=".HomeActivity"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="app"
                    android:host="aslifitnessapp.com"
                    android:pathPrefix="/fitnessHome" />

            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <activity
            android:exported="true"
            android:name=".detail.WorkoutDetailActivity">
        </activity>
        <activity
            android:exported="true"
            android:name=".stories.ShortVideoActivity">
        </activity>

        <activity
            android:name=".addworkout.AddWorkoutActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="aslifitness.actions.intent.ADD_WORKOUT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="app"
                    android:host="aslifitness.com"
                    android:pathPrefix="/addWorkout" />

            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <activity android:name=".workoutlist.WorkoutListActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data-->
<!--                    android:host="*.aslifitness.com"-->
<!--                    android:path="/workoutlist"-->
<!--                    android:scheme="http" />-->
            </intent-filter>
        </activity>

        <activity android:name=".errorhandler.CrashActivity" />

        <activity android:name=".auth.UserAuthActivity" />

        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".auth.otpverification.OtpVerificationActivity" />

        <activity
            android:name=".uilib.ExampleActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

        </activity>

        <activity android:name=".profile.UserProfileActivity" />
        <activity android:name=".summary.WorkoutSummaryActivity" />

        <activity
            android:name=".routine.UserRoutineActivity"
            android:exported="true">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="aslifitness.actions.intent.ADD_ROUTINE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:scheme="app"
                    android:host="aslifitness.com"
                    android:pathPrefix="/addRoutine" />

            </intent-filter>

        </activity>

        <activity android:name=".create.CreateNewWorkoutActivity" />

        <activity
            android:name=".assistant.FitMainActivity"
            android:exported="true"
            android:launchMode="singleTask">

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->

<!--                <data android:scheme="http"-->
<!--                    android:host="www.aslifitnessapp.com"-->
<!--                    android:pathPrefix="/fitMain" />-->

            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".utils.NavigationActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:parentActivityName=".HomeActivity">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />

                <data
                    android:host="www.aslifitnessapp.com"
                    android:pathPrefix="/navigation" />

            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>

        <activity
            android:name=".routine.summary.RoutineSummaryActivity"
            android:exported="true">

            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="app"
                    android:host="aslifitness.com"
                    android:pathPrefix="/routineSummary" />

            </intent-filter>

        </activity>

        <activity android:name=".camera.CameraSuccessActivity" />
        <activity android:name=".camera.CameraActivity" />

        <receiver android:name=".notification.ReminderReceiver" />

        <service android:name=".notification.FBNotificationService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".assistant.tracking.FitTrackingService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name="com.google.assistant.appactions.widgets.pinappwidget.PinAppWidgetBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.assistant.appactions.widgets.COMPLETE_PIN_APP_WIDGET" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.assistant.appactions.widgets.pinappwidget.PinAppWidgetService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.assistant.appactions.widgets.PIN_APP_WIDGET" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_dumble_new" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_primary" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

    </application>

</manifest>