<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aslifitness.fitrackers">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-feature android:name="android.hardware.camera.any" android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <!--android:networkSecurityConfig="@xml/network_security_config" />-->

    <application
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.aslifitness.fitrackers.FitApp"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fitracker"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Fitracker"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="app"
                    android:host="aslifitnessapp.com"
                    android:pathPrefix="/splash" />

            </intent-filter>

        </activity>

        <activity
            android:exported="true"
            android:name="com.aslifitness.fitrackers.HomeActivity"
            android:launchMode="singleTask">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="app"
                    android:host="aslifitnessapp.com"
                    android:pathPrefix="/fitnessHome" />

            </intent-filter>

        </activity>

        <activity
            android:exported="true"
            android:name="com.aslifitness.fitrackers.detail.WorkoutDetailActivity" />

        <activity
            android:exported="true"
            android:name="com.aslifitness.fitrackers.stories.ShortVideoActivity" />

        <activity
            android:name="com.aslifitness.fitrackers.addworkout.AddWorkoutActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="aslifitness.actions.intent.ADD_WORKOUT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="app"
                    android:host="aslifitness.com"
                    android:pathPrefix="/addWorkout" />

            </intent-filter>

        </activity>

        <activity
            android:name="com.aslifitness.fitrackers.workoutlist.WorkoutListActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <!--                <category android:name="android.intent.category.DEFAULT" />-->
                <!--                <category android:name="android.intent.category.BROWSABLE" />-->
                <!--                <data-->
                <!--                    android:host="*.aslifitness.com"-->
                <!--                    android:path="/workoutlist"-->
                <!--                    android:scheme="http" />-->
            </intent-filter>
        </activity>

        <activity android:name="com.aslifitness.fitrackers.errorhandler.CrashActivity" />

        <activity android:name="com.aslifitness.fitrackers.auth.UserAuthActivity" />

        <activity
            android:windowSoftInputMode="adjustResize"
            android:name="com.aslifitness.fitrackers.auth.otpverification.OtpVerificationActivity" />

        <activity
            android:name="com.aslifitness.fitrackers.uilib.ExampleActivity"
            android:exported="true">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->

        </activity>

        <activity android:name="com.aslifitness.fitrackers.profile.UserProfileActivity" />
        <activity android:name="com.aslifitness.fitrackers.summary.WorkoutSummaryActivity" />

        <activity
            android:exported="true"
            android:name="com.aslifitness.fitrackers.routine.UserRoutineActivity"
            android:windowSoftInputMode="adjustResize">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="aslifitness.actions.intent.ADD_ROUTINE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="app"
                    android:host="aslifitness.com"
                    android:pathPrefix="/addRoutine" />

            </intent-filter>

        </activity>

        <activity android:name="com.aslifitness.fitrackers.create.CreateNewWorkoutActivity" />

        <activity
            android:name="com.aslifitness.fitrackers.assistant.FitMainActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <!--                <category android:name="android.intent.category.DEFAULT" />-->
                <!--                <category android:name="android.intent.category.BROWSABLE" />-->

                <!--                <data android:scheme="http"-->
                <!--                    android:host="www.aslifitnessapp.com"-->
                <!--                    android:pathPrefix="/fitMain" />-->

            </intent-filter>

        </activity>

        <activity
            android:name="com.aslifitness.fitrackers.utils.NavigationActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:parentActivityName="com.aslifitness.fitrackers.HomeActivity">

            <tools:validation testUrl="https://myportfolio-6438d.web.app/navigation" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="myportfolio-6438d.web.app" />
                <data android:pathPrefix="/navigation" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="myportfolio-6438d.web.app" />
                <data android:pathPrefix="/navigation" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.aslifitness.fitrackers.routine.summary.RoutineSummaryActivity"
            android:exported="true">

            <intent-filter android:autoVerify="true">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="app"
                    android:host="aslifitness.com"
                    android:pathPrefix="/routineSummary" />

            </intent-filter>

        </activity>

        <activity android:name="com.aslifitness.fitrackers.camera.CameraSuccessActivity" />
        <activity android:name="com.aslifitness.fitrackers.camera.CameraActivity" />

        <activity
            android:name="com.aslifitness.fitrackers.filedownloader.MainActivity"
            android:exported="true">

            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->

            <!--            <intent-filter android:autoVerify="true">-->
            <!--                <action android:name="android.intent.action.VIEW" />-->
            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->

            <!--                <data android:scheme="app"-->
            <!--                    android:host="aslifitnessapp.com"-->
            <!--                    android:pathPrefix="/fitnessHome" />-->

            <!--            </intent-filter>-->

        </activity>
        <activity android:name="com.aslifitness.fitrackers.filedownloader.OfflineVideoActivity" />
        <activity android:name="com.aslifitness.fitrackers.filedownloader.MediaPlayerActivity" />

        <activity
            android:name="com.aslifitness.fitrackers.videopreloading.FirstActivity"
            android:exported="true">

            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->

            <!--            <intent-filter android:autoVerify="true">-->
            <!--                <action android:name="android.intent.action.VIEW" />-->
            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->

            <!--                <data android:scheme="app"-->
            <!--                    android:host="aslifitnessapp.com"-->
            <!--                    android:pathPrefix="/fitnessHome" />-->

            <!--            </intent-filter>-->

        </activity>

        <activity android:name="com.aslifitness.fitrackers.videopreloading.VideoPlayerActivity" />

        <activity
            android:name="com.aslifitness.fitrackers.onboarding.OnboardingActivity"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTop" />

        <activity android:name=".profile.TakePictureActivity" />

        <receiver android:name="com.aslifitness.fitrackers.notification.ReminderReceiver" />
        <receiver
            android:name="com.aslifitness.fitrackers.notification.DeviceRebootReceiver"
            android:exported="true">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>

        </receiver>

        <service
            android:name="com.aslifitness.fitrackers.notification.FBNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.aslifitness.fitrackers.assistant.tracking.FitTrackingService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.assistant.appactions.widgets.pinappwidget.PinAppWidgetBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.assistant.appactions.widgets.COMPLETE_PIN_APP_WIDGET" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.assistant.appactions.widgets.pinappwidget.PinAppWidgetService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.assistant.appactions.widgets.PIN_APP_WIDGET" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_dumble_new" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_primary" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name="com.aslifitness.fitrackers.filedownloader.MediaDownloadService"
            android:exported="false">
            <!-- This is needed for Scheduler -->
            <intent-filter>
                <action android:name="com.google.android.exoplayer.downloadService.action.RESTART" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name="com.google.android.exoplayer2.scheduler.PlatformScheduler$PlatformSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.aslifitness.fitrackers.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

    </application>

</manifest>